.filter.tourists {
    flex: 180;
    min-width: 0;
    position: relative;
}

.filter {
    padding: 10px 20px;
    border-right: 1px solid #ddd;
    background-color: #fff;
}

.filter:hover {
    background-color: rgb(225, 225, 225);
    cursor: pointer;
}

.filter__type {
    font-size: 10px;
    color: #5c6672;
}

.filter__value {
    font-size: 15px;
    font-family: OpenSansBold;
}

.dropMenuWrapper {
    position: absolute;
    box-shadow: 0 5px 15px 0 #777;
    z-index: 1111;
    top: 100%;
    left: 0%;
}